.parent{
  background-color: #36C1E4;
  justify-content: center !important;
  border-radius: 4%;
  border: 2px solid #36C1E4;
  padding-left: 0;

}
.errors{
  position: absolute;
  font-size: 14px;
}
.pay{
  background-color: #FFFFFF;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10% ;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}
.signup{
  background-color: #36C1E4;
}
.lorem{
  color: #36C1E4;
  font-size: 14px;
}
.circle1{
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 40px;
  width: 60px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  top: 20%;
  left: 43%;
}
.circle3{
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 40px;
  width: 60px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  top: 45%;
  left: 43%;
}
.circle2{
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 40px;
  width: 60px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  top: 70%;
  left: 43%;
}
.name-div{
  border-bottom: 3px solid #FFFFFF;
  text-align: start;
  width: 11cm;
  margin-left: 100px;
}
input{
  color: #FFFFFF;
  background-color: #36C1E4;
  border: none;
  width: 200px !important;
  /* border-bottom: 3px solid white; */
}
input::placeholder{
  color: white;
}
input:focus{
  outline: none;
  border: none;
  /* border-bottom: 3px solid white; */
}
.gender{
  height: 30px;
}
select{
  border:none;
  background-color: #36C1E4;
  color: #FFFFFF;
}
select:focus{
  outline: none;
  border: none;
}
.check-container {
  margin-left: 100px;
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
}
.container input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 2px solid white;
  border-radius: 10px !important;
}
.container:hover input[type=checkbox] ~ .checkmark {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px !important;
}
.container input[type=checkbox]:checked ~ .checkmark {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px !important;
}
.member{
  margin-left: 100px
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 0px;
  width: 5px;
  height: 20px;
  border: solid white;
  border: 2px solid white;
  border-radius: 10px !important;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
@media screen and (min-width:1023px) and (max-width:1026px) {
  .circle1,.circle2,.circle3{
    left: 41%;
  }
  .circle1{
    top: 15%;
  }
  .circle3{
    top: 40%;
  }
  .circle2{
    top: 65%;
  }
}
@media screen and (min-width:1430px) and (max-width:1450px) {
  .circle2{
    top:35%;
  }
  .circle1{
    top: 15%;
  }
  .circle3{
    top: 55%;
  }
}
@media screen and (min-width:750px) and (max-width:770px) {
  .name-div{
    width: 7cm;
    margin-left: 70px;
  }
  .member{
    margin-left: 60px !important;
  }
  .circle2{
    top:55%;
    left: 41%;
  }
  .circle1{
    left: 41%;
    top: 20%;
  }
  .circle3{
    left: 41%;
    top: 90%;
  }
  .member{
  margin-left: 40px;
  font-size: 14px;
  }
  .check-container{
    margin-left: 60px;
    font-size: 14px;
  }
}
@media screen and (min-width:300px) and (max-width:450px) {
  .parent{
    margin-left: 20px;
    margin-right: 20px;
  }
  .register{
    margin-left: 40px;
  }
  .check-container{
    margin-left: 40px;
    font-size: 14px;
  }
  .name-div{
    width: 8cm;
    margin-left: 40px;
  }
  .signup{
    border-radius: 10% !important;
  }
  .member{
    margin-left: 0px;
  }
  .pay-image{
    position: absolute;
    top:4%;
    left: 30%;
    height: 100px;
  }
  .pay-div{
    margin-bottom: 140px ;
  }
  .pay-circle{
    position: absolute;
    top: 4%;
    left: 40%;
    background-color: #FFFFFF;
    height: 150px;
    width: 200px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  .checkmark{
    height: 15px;
    width: 15px;
  }
  .checkmark:after{
    left: 2px !important;
    top: 0 !important;
  }
}
@media screen and (min-width:420px) and (max-width:430px) {
  .pay-circle{
    left:28%;
  }
}
@media screen and (min-width:300px) and (max-width:328px) {
  .pay-circle{
    left: 20%;
  }
  .name-div{
    width: 6cm;
    margin-left: 20px;
  }
  input{
    margin-left: 0 !important;
  }
  .check-container{
    margin-left: 20px !important;
    font-size: 11px;
  }
  
}
@media screen and (min-width:370px) and (max-width:380px) {
  .pay-circle{
    left: 23%;
  }
}